#title {
    font-family: "Brush Script MT", Arial, Verdana;
    background-color: rgba(255, 128, 0, 0.2);
    text-align: left;
}

.tagline {

}

.description {
    font-size: 18px;
    font-weight: 700;
}